@media (min-width: 576px) {
    .card-group.card-group-scroll {
        overflow-x: auto;
        flex-wrap: nowrap;
    }
}

.card-group.card-group-scroll>.card {
    flex-basis: 25%;
    max-width: 350px;
}

h1 {
    font-weight: bold;
}

svg {
    width: 3%;
    min-width: 30px;
    height: auto;
    margin-top: -10px;
    margin-left: 5px;
}