<app-navbar></app-navbar>

<div id="background_fridge">
    <body>
        <div id="fridge" class="p-5" style="background-image: url('../../assets/free-fridge.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    ">
            <div id="food" class="d-flex container justify-content-center">
                <div class="container mt-3">
                    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-4 g-4">
                        <div *ngFor="let element of food" class="col">
                            <img [src]="element.safeImageURL" class="fridge-item" (click)="onFridgeItemClick()">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</div>