@media (min-width: 576px) {
    .card-group.card-group-scroll {
        overflow-x: auto;
        flex-wrap: nowrap;
    }
}

.card-group.card-group-scroll>.card {
    flex-basis: 25%;
}

.card-body {
    padding: 0 10px;
    background-color: #4d745d;
    width: 100%;
    color: white;
    height: 120px;
}

img {
    height: 200px;
}