#background_home {
    background-image: url("../../../assets/stone-surface-background.jpg");
    background-size: cover;
    min-height: 100vh;
    height: 100%;
}

body {
    width: 70%;
    margin: auto;
    background-color: transparent;
}