body {
    width: 70%;
    margin: auto;
}

.img-preview {
    margin-top: 20px;
    max-width: 120px;
    max-height: 120px;
    width: 120px;
    height: 120px;
}

.mt-auto {
    margin-top: auto;
}

.container {
    height: 450px;
}

#principal {
    background-image: url(../../../assets/stone-surface-background.jpg);
    background-size: cover;
    height: 1000px;
}

.search {
    margin-bottom: auto;
    margin-top: auto;
    height: 70px;
    width: 90%;
    max-width: 700px;
    background-color: #fff;
    border-radius: 40px;
    padding: 10px;
    border: black 1px solid;
}

.search_input {
    color: black;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    margin-top: 5px;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    padding: 0 40px;
    width: 550px;
    caret-color: red;
}

.search:hover>.search_icon {
    background: red;
    color: #fff;
}

.search_icon {
    height: 50px;
    width: 50px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    border-radius: 50%;
    color: white;
    background-color: black;
}

a:link {
    text-decoration: none;
}