<div class="container-fluid p-0 full-height" style="background-image: url('../../../assets/bg-home.png'); background-size: cover;">
    <div class="row g-0 full-height">

        <div class="home-background col d-flex align-items-center justify-content-center" style="background-color: transparent;">
            <app-login></app-login>
        </div>

        <div class="col-md-7 bg-secondary text-white d-flex  justify-content-center" style="background-image: url('../../assets/fridge.webp');
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        ">
        </div>
    </div>
</div>